<app-navigation></app-navigation>

<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 *ngIf="!isNewProduct" class="display-4">Edit Product</h1>
  <h1 *ngIf="isNewProduct" class="display-4">Add Product</h1>
</div>

<div *ngIf="product" class="container">

  <div class="row">
    <div class="col-md-6">
      <mat-card>
        <div class="row">
          <div class="pb-md-4 mx-auto text-center">
            <h2>Information</h2>
          </div>
        </div>

        <div class="row">
          <p class="col-md-3">Code:</p>
          <p class="col-md-3">{{product.code}}</p>
        </div>
        <hr>

        <div class="row">
          <p class="col-md-3">Description:</p>
          <p class="col-md-9"><input type="text" class="form-control" name="description" id="description"
              [(ngModel)]="product.description"></p>
        </div>
        <hr>

        <div class="row">
          <p class="col-md-3">Price:</p>
          <p class="col-md-3"><input type="text" class="form-control" name="price" id="price"
              [(ngModel)]="product.price"></p>
        </div>
        <hr>

        <div class="row" *ngIf="!isNewProduct">
          <p class="col-md-3">State:</p>
          <p class="col-md-3">{{getEstado(product?.state)}}</p>
          <div class="col-md-3">
            <a><i class="disableStyle"
                [ngClass]="product.state ? 'fa fa-lg fa-eye-slash clickable' : 'fa fa-lg fa-eye clickable'"
                (click)="changeState(product)"></i></a>
          </div>
          <hr>
        </div>


        <div class="row">
          <div class="col-md-6" *ngIf="!isNewProduct"><strong>Current creation date:</strong></div>
          <div class="col-md-5"><span>{{product.creationDate | date: 'mediumDate'}}</span></div>
        </div>
        <br>

        <div class="row">
          <p class="col-md-5">Insert creation Date:</p>
          <p class="col-md-5"><input type="date" class="form-control" name="date" id="date"
              [(ngModel)]="newCreationDate">
          </p>
        </div>
        <hr>

        <div class="row">
          <div class="col-md-5">Creator:</div>
          <div class="col-md-4">
            <mat-form-field>
              <mat-select [(ngModel)]="selectedUser">
                <mat-option *ngFor="let value of users" [value]="value" >
                  {{value.userName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <hr>

        <div class="row">
          <p class="col-md-5">Discount</p>
          <div class="col-md-5">
            <input type="number" name="discount" id="discount" class="form-control" [(ngModel)]="newDiscount">
          </div>
        </div>

        <div class="row">
          <p class="col-md-5">Start date</p>
          <div class="col-md-5">
            <input type="date" name="startdate" id="startdate" class="form-control" [(ngModel)]="startDate">
          </div>
        </div>

        <div class="row">
          <p class="col-md-5">End Date</p>
          <div class="col-md-5">
            <input type="date" name="endDate" id="endDate" class="form-control" [(ngModel)]="endDate">
          </div>
        </div>
        <button type="button" class="btn btn-secondary btn-sm" (click)="addPriceReduction()" matTooltip="New price reductions will show on right side" matTooltipPosition="above">Add price
          Reduction</button>
        <hr>

        <div class="row">
          <p class="col-md-5">Select one supplier:</p>
          <div class="col-md-4">
            <mat-form-field>
              <mat-select [(ngModel)]="selectedSupplier">
                <mat-option *ngFor="let supplier of supplierList" [value]="supplier">
                  {{supplier.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <button type="button" class="btn btn-secondary btn-sm" (click)="addSupplier()" matTooltip="New suppliers will show on right side" matTooltipPosition="above">Add supplier</button>
      </mat-card>
    </div>

    <div class="col-md-6">
      <mat-card>
        <div class="row">
          <div class="pb-md-4 mx-auto text-center">
            <h2>Current Price reductions</h2>
          </div>
        </div>

        <div class="row">
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col">Discount</th>
                <th scope="col">Start date</th>
                <th scope="col">End Date</th>
                <th class="center" scope="col">Options</th>
              </tr>
            </thead>
            <tbody *ngFor="let reduct of product.priceReductions">
              <tr>
                <td>{{reduct.reducedPrice}}</td>
                <td>{{reduct.startDate | date: 'mediumDate'}}</td>
                <td>{{reduct.endDate | date: 'mediumDate'}}</td>
                <td class="center"><i class="fa fa-trash red" aria-hidden="true"
                    (click)="removePriceReduction(reduct)"></i></td>
              </tr>
            </tbody>
          </table>
        </div>

        <hr>

        <div class="row">
          <div class="pb-md-4 mx-auto text-center">
            <h2>Current product suppliers</h2>
          </div>
        </div>

        <div class="row">
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Country</th>
                <th class="center" scope="col">Options</th>

              </tr>
            </thead>
            <tbody *ngFor="let supplier of product.supplierList">
              <tr>
                <td>{{supplier.name}}</td>
                <td>{{supplier.country}}</td>
                <td class="center"><i class="fa fa-trash red" aria-hidden="true"
                    (click)="removeTransportist(supplier)"></i></td>
              </tr>
            </tbody>
          </table>
        </div>
      </mat-card>
    </div>
  </div>
  <br>

  <div class="row text-center">
    <div class="col-md-12">
      <button type="button" class="btn btn-success" mat-button (click)="updateProduct()">Save</button>
      <button type="button" class="btn btn-dark buttonBack" mat-button (click)="goBack()">Back</button>
    </div>
  </div>
  <br>
