.red {
    color: red;
}

.clickable {
    cursor: pointer;
    
}
.clickable:hover {
    color: blue;
}

::ng-deep snack-bar-container.custom-class {
    background: rgb(39, 154, 39);
  }
  
  ::ng-deep .custom-class .mat-simple-snackbar {
    color: white;
  }
::ng-deep .custom-class .mat-simple-snackbar-action {
    color: black;
}

.buttonBack {
    margin-left: 5px;
}