  <app-navigation></app-navigation>

  <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Products</h1>
    <p class="lead">Items information displayed in the table below</p>
  </div>

  <div class="container">
    <div class="row filterBut">
      <div class="col-md-6">
        <button class="btn btn-primary" (click)="mostrarFiltros()">Filters</button>
      </div>
      <div class="col-md-2 offset-md-4">
        <button class="btn btn-primary" [routerLink]="['/add']">Add product</button>
      </div>
    </div><br>

    <div *ngIf="estaMostrandoDivFiltros" class="row">
      <div class="col-md-12">
        <div class="btn-group btn-group-sm btn-group-toggle">
          <button class="btn btn-secondary" (click)="applyFilter('true')">Active</button>
          <button class="btn btn-secondary" (click)="applyFilter('false')">Discontinued</button>
          <button class="btn btn-secondary" (click)="applyFilter(null)">All</button>
        </div>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-md-12">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef> Code </th>
            <td mat-cell *matCellDef="let element"> {{element?.code}} </td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let element"> {{element?.description}} </td>
          </ng-container>

          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Price </th>
            <td mat-cell *matCellDef="let element"> {{element?.price.toFixed(2)}} € </td>
          </ng-container>

          <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef matTooltip="Only active products are editables" matTooltipPosition="above"> State <i class="fa fa-lg fa-question-circle"></i>
            </th>
            <td mat-cell *matCellDef="let element"> {{getEstado(element?.state)}} </td>
          </ng-container>

          <ng-container matColumnDef="creationDate">
            <th mat-header-cell *matHeaderCellDef> Creation date </th>
            <td mat-cell *matCellDef="let element"> {{element?.creationDate | date:'mediumDate' }} </td>
          </ng-container>

          <ng-container matColumnDef="userCreator">
            <th mat-header-cell *matHeaderCellDef> Owner </th>
            <td mat-cell *matCellDef="let element"> {{element?.userCreator}} </td>
          </ng-container>

          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef> Options </th>
            <td mat-cell *matCellDef="let element">
              <div *ngIf="element.state">
                <a [routerLink]="['/edit', element.code]"><i class="fa fa-lg fa-edit"></i></a>
              </div>

            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>


  </div>
