::ng-deep snack-bar-container.custom-class {
    background: rgb(177, 39, 39);
  }
  
  ::ng-deep .custom-class .mat-simple-snackbar {
    color: white;
  }
::ng-deep .custom-class .mat-simple-snackbar-action {
    color: black;
}