<!DOCTYPE html>
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom border-secondary" id="navbarLanding">
    <a class="navbar-brand">
      Prueba BitBox
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      </ul>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="shadow p-3 mb-5 bg-light rounded mt-md-5">
          <h2 class="text-center">Iniciar sesión</h2>
          <form>
            <div class="form-group">
              <label for="inputUser">Usuario</label>
              <input type="user" class="form-control" id="inputUser" [(ngModel)]="username" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group">
              <label for="inputPassword">Contraseña</label>
              <input type="password" class="form-control" id="inputPassword" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="row">
              <div class="col-md-4 offset-md-4">
                <button type="submit" class="btn btn-primary" (click)="onLogin()">Iniciar sesión</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
